{% load static %}
<!DOCTYPE Html>
<html>
    <head>
        <title>Task Manager</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="{% url "home" %}">Home</a></li>
                    <li><a href="{% url "login" %}">Login</a></li>
                    <li><a href="{% url "signup" %}">Register</a></li>
                </ul>
            </nav>
        </header>
        {% block content %}
        {% endblock  %}
    </body>
</html>